/*this is how you can style specific child elements
without giving them a class.  Here we are picking
the <a> elements within the <li class='nav-tab-list_ele'>*/
// li.nav-tab-list_ele a{
// 	color: red;
// }

body {
    width: 100%;
    height: 100%;
    padding-top: 70px;

    background-color:#454545
;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
//        background-color: #191919;

 
    }

    .top-nav-collapse {
        padding: 0;

    }
}



//this is the inner contents what you are seeing on the screen
.no-margin {
  padding: 0;
}

.content_section {
    border-radius: 5px;
    height: 100%;
    text-align: center;
   // background: #B4DEC1;

}
.m_intro{
    margin-top: 5px;
    border-bottom: 1px solid #191919;
}

.navbar-default{
    background-color: blue;
}

.navbar-default .navbar-nav>.active> a, 
.navbar-default .navbar-nav>.active> a:focus, 
.navbar-default .navbar-nav>.active> a:hover {
  border-bottom: 3px solid red;
}
